a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
    .row {
        margin-right: 0;
        margin-left: 0;
    }
}